#heart-auto {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
}

#heart-auto-item {
    position: relative;
    height: 100%;
    width: 100%;
}


#heart-auto-item .heart {
    width: 20px;
    height: 20px;
    color: red;
    opacity: 0.75;
}

#heart-auto-item .falling-heart {
    position: absolute;
    animation: fall linear forwards;
    z-index: 999;
}

@keyframes fall {
    0% {
        transform: translateY(-10%);
        opacity: 0.75;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

#heart-auto-item .falling-left-heart {
    position: absolute;
    animation: fall-left linear forwards;
    z-index: 999;
}

@keyframes fall-left {
    0% {
        transform: translateY(-10%);
        opacity: 0.75;
    }
    100% {
        transform: translateY(100vh) translateX(100vw);
        opacity: 0;
    }
}

#heart-auto-item .falling-right-heart {
    position: absolute;
    animation: fall-right linear forwards;
    z-index: 999;
}

#heart-auto .image-music {
    position: absolute;
    bottom: 16px;
    left: 16px;
    height: 40px;
    width: 40px;
    z-index: 999;
}

#heart-auto .image-music {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #df4758;
    padding-top: 7px;
    padding-left: 9px;
    position: absolute;
    z-index: 2;
}

@keyframes fall-right {
    0% {
        transform: translateY(-10%);
        opacity: 0.75;
    }
    100% {
        transform: translateY(100vh) translateX(-100vw);
        opacity: 0;
    }
}
