body {
    position: static;
}
/* Scrollbar track */
body::-webkit-scrollbar {
    width: 2px;  /* Horizontal scrollbar width */
}

/* Scrollbar handle */
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

/* Scrollbar handle when hovering */
body::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

/* Scrollbar track */
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
